@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif;
        --font-txt: InterVariable, sans-serif;}}

:root{
    --font-txt: Inter, sans-serif;
    --title-size: ;
    --txt-size-1: ; 
    --txt-size-2: ;
    /* LIGHT MODE */
    --slect-bg-clr: #b19ee3;
    --slect-clr: #3b1341;
    --clr-body: hsl(0, 0%, 98%);
    --bg-dark : hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);     
    --clr-txt-1: hsl(0, 0%, 8%);
    --clr-txt-2: hsl(0, 0%, 44%);    
}
/* DARK MODE 
@media (prefers-color-scheme: dark) {
  :root {
    --slect-bg-clr: #3b1341;
    --slect-clr: #b19ee3;    
    --clr-body: hsl(0, 0%, 2%);
    --bg-dark : hsl(0, 0%, 5%); 
    --bg-light: hsl(0, 0%, 10%); 

    --clr-txt-1: hsl(0, 0%, 92%);
    --clr-txt-2: hsl(0, 0%, 66%);
  }
} */

* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;} 

/*------USER TXT SELECTION------*/ 
::selection { background-color: var(--slect-bg-clr); color: var(--slect-clr); }

/*------SCROLL BAR------*/
::-webkit-scrollbar{ width: 12px; }
::-webkit-scrollbar-track{ background-color: var(--clr-body);}
::-webkit-scrollbar-thumb{ background-color: hsl(0, 0%, 80%); border-radius: 6rem; }

body {
    background: var(--clr-body);
    font: var(--txt-size-1) var(--font-txt);
    color: var(--clr-txt-1);
    -webkit-font-smoothing: antialiased;
}

section {
  padding: 0 10vw;
  width: 100%;
  margin-bottom: 5rem;
}

@media ( max-width: 768px ) {
  section {
  padding: 0 8vw;}
}

article { cursor:crosshair; }

/*------PRESENTATION------*/
#presentation {
  padding-top: 9vh;
  padding-bottom: 9vh;
  height: auto;
  gap: 4.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem; }

/* MEMOJI */
.img-profil {
  user-select: none;
  width: 5rem;
  height: auto;
  border-radius: 50%;
  margin-left:-0.5rem; }

#presentation h1 {
  letter-spacing: -0.015em;
  font-size: 2.4rem; }

#presentation h1 .name {
  font-size: 2.2rem;
  color: var(--clr-txt-2); }

/* A PROPOS */
.about-me {
  background-color: var(--bg-dark);
  border-radius: 20px;
  padding: 1.8rem 2rem; }
.about-me h2 { 
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  display: inline-flex;
  align-items: center; }
.about-me img{
  width: 2.6rem; 
  margin-left: 0.6rem;}
.about-me p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-txt-2); }

/* BULLES CONTACTS */
.contact-links {
  display: inline-flex;
  gap: 1.5rem; }
.contact-links a {
  margin-left: 0.5rem;
  background-color: var(--bg-dark);
  padding: 0.6rem 0.7rem;
  border-radius: 20rem;
  color: var(--clr-txt-2); }


@media (max-width: 768px) {
  .img-profil {
    width: 4rem; }

  #presentation h1 {
    letter-spacing: -0.015em;
    font-size: 1.6rem; }

  #presentation h1 .name {
    font-size: 1.6rem; }

  .contact-links a {
    padding: 0.5rem 0.6rem; }

  .about-me{
    padding: 1.4rem 1.6rem; }

  .about-me h2 { 
    font-size: 1.4rem; }
  
  .about-me img{
  width: 1.8rem; 
  margin-left: 0.4rem;}

  .about-me p {
    font-size: 0.9rem; }
}


/*------SCROLL COMPETENCES------*/
#competences h1 { font-size: 2.4rem; }
#competences .scroll {
  margin-inline: auto;
  margin-top: 3rem;
  width: 99%;
  max-width: 1536px;
  height: 150px;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right, rgba(0,0,0,0), rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
  mask-image: linear-gradient(
    to right, rgba(0,0,0,0),rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
}

@keyframes scrollLeft { to{left: -200px;} }

#competences .scroll .item {
  user-select: none;
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  width: 125px;
  height: 125px;
  border-radius: 1rem;
  position: absolute;
  left: max(calc(125px * 8),100%);
  transition: all 0.1s ease-out;
  animation: scrollLeft 18s linear infinite;
}
#competences .scroll .item1 { animation-delay: calc(18s / 8 * (8 - 1) * -1); }
#competences .scroll .item2 { animation-delay: calc(18s / 8 * (8 - 2) * -1); }
#competences .scroll .item3 { animation-delay: calc(18s / 8 * (8 - 3) * -1); }
#competences .scroll .item4 { animation-delay: calc(18s / 8 * (8 - 4) * -1); }
#competences .scroll .item5 { animation-delay: calc(18s / 8 * (8 - 5) * -1); }
#competences .scroll .item6 { animation-delay: calc(18s / 8 * (8 - 6) * -1); }
#competences .scroll .item7 { animation-delay: calc(18s / 8 * (8 - 7) * -1); }
#competences .scroll .item8 { animation-delay: calc(18s / 8 * (8 - 8) * -1); }

#competences .scroll .item:hover img {
  width: 45%; }
#competences .scroll .item:hover p {
  font-size: 0.85rem; }
#competences .scroll .item:hover {
  gap: 0.4rem; }

@media (max-width: 768px) {
  #competences .scroll .item{
    gap: 0.5rem;
    width: 105px;
    height: 105px;
  }

  @keyframes scrollLeft { to{left: -85px;} }
}

#competences .scroll .item img { width: 35%; transition: all 0.1s ease-out; }
#competences .scroll .item p { font: var(--font-txt); color : var(--clr-txt-1); transition: all 0.1s ease-out; }



/*------PROJETS------*/
#projets {
  height: auto;
  gap: 4.5rem;
}

#projets h1 { font-size: 2.4rem; 
margin-bottom: 3rem;}

.list-projet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.list-projet .projet {
  background-color: var(--bg-dark);
  border-radius: 2rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
}

#projets .list-projet .projet .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
#projets .list-projet .projet .txt h2 {
  font-size: 1.8rem;
  display:inline-flex ;
  align-items: center;
}
#projets .list-projet .projet .txt img {
  width: 3rem;
  margin-left: 0.6rem;
}
#projets .list-projet .projet .txt p {
  font-size: 0.9rem;
}
#projets .list-projet .projet .txt h5 {
  color: var(--clr-txt-2);
  font-size: 0.98rem;
}
#projets .list-projet .projet .txt button {
  background-color: var(--clr-txt-1);
  color: var(--bg-dark);
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}
#projets .list-projet .projet .txt i {
  font-size: 1rem;
}

#projets .list-projet .projet .txt .trois-point {
  width: 6rem;
  margin: 0;
}
#projets .list-projet .wait:hover {
  cursor: progress;
  user-select: none;
}

@media (max-width: 768px) {
  #projets .list-projet {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .projet {
    flex-direction: column;       
    align-items: center;          
    text-align: center;           
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
  #projets img {
    max-width: 90%;
  }
  .txt {
    align-items: center;
  }
  #projets .txt h2 {
  font-size: 1.4rem;
  }
  #projets .txt img {
  width: 1vw;
}
}


/*------FOOTER------*/
footer {
  cursor: crosshair;
  height: 30vh;
  padding: 1.5rem 0;
  margin: 0 10vw;
  border-top: 1.5px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
}
footer .credits p {
  font-size: 0.9rem;
  color: var(--clr-txt-2);
}
footer .social-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer .social-links ul li {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
footer .social-links ul li i {
    font-size: 0.9rem;
    color: var(--clr-txt-2);
}
footer .social-links ul li a {
    font-size: 0.9rem;
    color: var(--clr-txt-2);
    transition: all 0.3s ease;
    text-decoration: none;          
    border-bottom: 1.9px solid #dbdbdb;
    transition: all 0.2s ease;
}
footer .social-links ul li a:hover { border-color: #979797; }

@media (max-width: 768px) {
  footer .credits p{
  font-size: 0.8rem;
  }
  footer .social-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    gap: 1rem;
  }
  footer .social-links ul li a {
    font-size: 0.8rem;
  }
}